/* Customize tooltips. */
QToolTip {
	background-color: rgb(252,252,210);
	border-color: #FCFCBA;
	border-width: 1px;
	border-style: solid;
    padding: 2px 0px;
    opacity: 255;
}
/* Style Vertical scrollbars */
QScrollBar:vertical {
	border: 1px solid #9E9E9E;
	width: 17px;
	margin: 0px;
}
QScrollBar::handle:vertical {
	background: #9E9E9E;
	min-height: 50px;
	width: 15px;
	margin: 1px;
}
QScrollBar::handle:hover:vertical {
	background: #5E8ACC;
}
QScrollBar::add-line:vertical {
	border: 0px;
	background-color: transparent;
    width: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
    QScrollBar::sub-line:vertical {
    border: 0px;
	background-color: transparent;
    height: 0 px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical,
QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
	background: #E5E5E5;
}
/* Style Horizontal scrollbars */
QScrollBar:horizontal {
	border: 1px solid #9E9E9E;
    height: 17px;
	margin: 0px;
}
QScrollBar::handle:horizontal {
	background: #9E9E9E;
	min-height: 50px;
	height: 15px;
	margin: 1px;
}
QScrollBar::handle:hover:horizontal {
	background: #5E8ACC;
}
QScrollBar::add-line:horizontal {
	border: 0px;
	background-color: transparent;
	height: 0px;
	subcontrol-position: right;
	subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal {
	border: 0px;
	background-color: transparent;
	height: 0px;
	subcontrol-position: left;
	subcontrol-origin: margin;
}
/* Fix branch treeview controls not visible on dark themes. */
QTreeView::item:selected:disabled,
QTableView::item:selected:disabled {
	background: rgb(80,80,80);
}
QTreeView::branch {
  background-color: transparent;
}
QTreeView::branch:has-siblings:!adjoins-item {
	border-image: url(images/icon_vline.png) 0;
}
QTreeView::branch:has-siblings:adjoins-item {
	border-image: url(images/icon_branch_more.png) 0;
}
QTreeView::branch:!has-children:!has-siblings:adjoins-item {
	border-image: url(images/icon_branch_end.png) 0;
}
QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
	border-image: none;
	image: url(images/icon_branch_closed.png);
}
QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings {
	border-image:none;
	image: url(images/icon_branch_open.png);
}
QTreeView::branch:has-children:!has-siblings:closed:hover,
QTreeView::branch:closed:has-children:has-siblings:hover {
	image: url(images/icon_branch_closed-on.png);
}
QTreeView::branch:open:has-children:!has-siblings:hover,
QTreeView::branch:open:has-children:has-siblings:hover {
	image: url(images/icon_branch_open-on.png);
}

/* Make text in message boxes selectable. */
QMessageBox {
/* LinksAccessibleByMouse | TextSelectableByMouse */
	messagebox-text-interaction-flags: 5;
}
